[2015-02-01 19:11] thequbit opened #2 "Create MainActivity"
This will have an action bar on top, with two tabs: View Assignments and View Stories.  This will also have a way to create a new 'free post' somewhere on the screen (select from text, picture, video, audio).

@reustonium to make some decisions on how this will look.  Will keep color scheme similar to that of existing YellR app.  Color: #FFCF13

[2015-02-01 19:13] thequbit opened #3 "Create CreatePost activity"
This will allow the user to create a post with a media object.  Picture (from camera or already on device), Video (from camera or on device), Audio (from recorder or from device), Text are all the different types of media objects.

[2015-02-01 19:14] thequbit opened #4 "Create ViewMessages Activity"
This will be viewing all messages, and viewing a single message.

[2015-02-01 19:14] thequbit opened #5 "Create CreateMessageResponse"
Create activity to respond to a message.

[2015-02-01 19:15] thequbit opened #6 "Create ViewNotifications activity"
This is the list of all notifications.

[2015-02-01 19:16] thequbit opened #7 "Create ViewProfile activity"
This will show stats about the current user, as well as give them the ability to generate a new UUID (client_id).

This should be the lowest priority activity for the moment.

[2015-02-01 19:20] thequbit opened #8 "Disable app rotation"
We will not be using app rotation for the YellR app.

[2015-02-01 19:25] thequbit opened #9 "Create service that polls the server for updates"
This looks for new assignments, stories, notifications, and messages.  Once the service determines that the data is stale on the local store, then we will fire an intent that will push the new data to the app.

[2015-02-01 19:37] reustonium opened #10 "Scrub build and os artifacts from gitignore"
Make sure AS on Linux doesn't add anything gross.

[2015-02-02 02:29] reustonium commented on #10
1) update your repo
2) perform a gradle sync (from menu bar)
3) run `gradle build`
4) check that nothing new shows up via `git status`
4a) `>>.gitignore` anything that shows up

[2015-02-02 03:45] thequbit commented on #10
Couldn't get this working on Ubuntu ... finally just caved and installed on Windows box.  As expected nothing showed up.  Will keep open until I can try on another machine with Ubuntu.

[2015-02-02 16:49] reustonium opened #11 "Create Splash Activity"

[2015-02-02 17:05] thequbit commented on #11
Here is the location of the ones that @aztec8 put together:

https://github.com/hhroc/yellr/tree/master/src/app/splash-screens/android

[2015-02-02 17:06] reustonium commented on #11
yep, I've already imported all the style colors into android resources.  Should have this done shortly

[2015-02-02 17:07] reustonium commented on #11
haven't found the text-font name yet, but was planning on using roboto, per the google design docs.  It's an easy update down the road if you want it switched.

[2015-02-02 17:10] thequbit opened #12 "Create icon"
The cordova app had a nice icon.  Should bring that over to this native android app.

[2015-02-02 17:19] reustonium commented on #12
can't seem to find any launcher icons here... https://github.com/hhroc/yellr/tree/master/src/app

[2015-02-02 17:33] thequbit commented on #12
@zapo sent them to me.  Emailed them to you.  Also it is Helvetica Neue for the font.

[2015-02-02 19:47] reustonium commented on #12
closed with pull request #13

[2015-02-02 19:47] #12 closed

[2015-02-02 19:48] reustonium commented on #11
closed with pull request #13

[2015-02-02 19:48] #11 closed

[2015-02-03 14:12] thequbit commented on #2
I pulled your changes as of ~9pm ET last night, and things look good!

There are three tabs (sections?) on top, rather than two.  I presume this was just a starting point.  I think we're going to want to stick to two tabs, one for assignments and one for stories.  We have talked about having 'posts in your area' kind of thing, but that requires quite a bit more work on the moderator side of things

[2015-02-03 14:17] thequbit commented on #9
We can use http://yellr.mycodespace.net/ for an end-point for the time being.  This is running HEAD of the https://github.com/hhroc/yellr-server code.

Wiki of API end-points: [https://github.com/hhroc/yellr/wiki/API-Documentation](https://github.com/hhroc/yellr/wiki/API-Documentation).

Note: that wiki page may be out of date, and I will need up update it.  It really needs to be moved over to yel

[2015-02-03 14:19] reustonium commented on #2
that all sounds good, I need to scrap the existing MainActivity due to that issue I mentioned last night with Android Studio and support libraries.  This activity will have 2 tabs like you describe.

[2015-02-03 14:21] thequbit commented on #2
Gotcha.
Idea on timeline? No rush, just want to keep the team updated.
I'll work on #9 in the meantime.

[2015-02-03 14:39] reustonium opened #14 "Integrate Font-Awesome for Android"
The existing app uses FA fonts for all of the buttons, this blog post describes how to use FA in a native android app.

http://www.eldelshell.com/font-awesome-icons-in-android.html

[2015-02-03 14:51] reustonium commented on #14
Here's the cheatsheet to select only the necessary icons.

https://fortawesome.github.io/Font-Awesome/cheatsheet/

[2015-02-03 14:55] thequbit commented on #14
:+1:

[2015-02-03 19:14] reustonium commented on #9
Might want to check out this description about how to notify from a service...
https://developer.android.com/guide/components/services.html#Notifications

I think you want an intent-service which is unbound...
https://developer.android.com/guide/components/services.html#LifecycleCallbacks

[2015-02-03 21:31] thequbit commented on #9
Correct, definitely IntentService.

I've got this implemented and working for a get_assignments.json, and it returns it to the MainActivity thread when it's done.  Was NOT intuitive on how to do that, but I got it working.

So do you think I should I make a different IntentService (and corresponding Receiver class to do something with the response) for each end point?  We have ...

[code]

and the

[2015-02-03 22:15] thequbit commented on #9
Commit with working JSON parsing:

https://github.com/thequbit/yellr-android/commit/3bdc249d0b2e651dbac473366555671fd01acc34

If you would like to take a look.

The WebWorkerIntentService would be renamed to GetAssignmentsIntentService in the above proposed model.

[2015-02-04 02:08] thequbit commented on #9
This is closer to what I was suggesting:

https://github.com/thequbit/yellr-android/commit/77bc9e39a116fdfdeceac65c06c25368aa386c89

That is get_assignments.json and get-stories.json

Let me know whatcha think!

[2015-02-04 02:11] reustonium commented on #9
I think you can probably get away with that design (a different service for each endpoint), but it might make more sense to have a single service for 'polling the backend' (which can launch 4 different intents).  And one service for uploading (media, and posts).

Looking at
https://github.com/thequbit/yellr-android/commit/77bc9e39a116fdfdeceac65c06c25368aa386c89 that looks solid.

[2015-02-04 02:17] thequbit commented on #9
Cool cool.  I think what I'll do is keep this architecture for the time being,  and keep functions separate enough that migration to a single service is less painful.

Thanks @reustonium!!

[2015-02-04 05:02] thequbit commented on #9
Implemented IntentService for get_assignments.json, get_stories.json, as well as publish_post.json (which calls upload_media.json from within it).

Need to implement get_notifications.json and get_messages.json.

Additionally we need to figure out how the responses from those calls then populate the fragments within the app.

I ... I think ... I think I'm enjoying writing java ... wat.

Edit:
Link

[2015-02-04 05:16] thequbit commented on #9
Additionally, I pushed the APK to my phone (HTC One), and it worked as expected (published the post successfully to the server).

[2015-02-04 13:01] reustonium commented on #9
that's awesome!  I plan on closing #2 and #14 today, will keep you posted.

[2015-02-04 13:07] thequbit commented on #9
Awesomeness.  Drop a comment into each of the tickets, and I'll pull and
merge when you're ready.

On Wed, Feb 4, 2015 at 8:01 AM, Andy Ruestow notifications@github.com
wrote:

##

_Tim Duffy_
http://timduffy.me/
(585)-210-8353
@arbiterofbits

[2015-02-04 20:52] thequbit commented on #9
Here is what I think we need to move forward:

[code]

https://github.com/thequbit/yellr-android/commit/6914a07cd103a23ed3ff43e41278ad39d4d99a7d

These remain:

[code]

We also can use 'server_info.json' to check to make sure we are using the correct version of the app with the correct version of the server.  I think we'll solve this issue with using nginx proxy_pass directives and keep old versio

[2015-02-04 21:00] reustonium commented on #9
well the purpose of the service is to run in the background when the application is not open and to create a notification (which launches an intent with the story or assignment data bundled into it).

The App itself will make an aysnc call to the API directly (with retrofit?) each time that fragment is resumed (onResume()).

e.g. StoriesFragment will call the API in the `onResume()` method.  That

[2015-02-04 21:12] thequbit commented on #9
Makes sense to me for the "I've opened the app, I need to get the the new things" case, however I don't understand how we'll handle the continued polling of the server.

Say, every 5 minutes I want to ping the server to see if we have new stories/assignments/messages/notifications.  How would we go about doing that?  Or am I missing something from your above example?

[2015-02-04 21:14] thequbit opened #15 "Generate a UUID and then save it"
The app should, on first time run, generate a UUID that will act as the client_id for all server communications.  This UUID needs to be saved to the device, so it can be used again.

We will put a hook in the settings page to allow fro the UUID to be re-generated if the user so wishes.

At the moment, I just have the UUID being generated each time the application runs, thus making reuse impossible

[2015-02-05 01:18] reustonium opened #17 "Update StoriesFragment ListView"
Alter StoriesFragment to display a listView, pulling data from the server.

http://www.vogella.com/tutorials/AndroidListView/article.html

[2015-02-05 13:10] thequbit commented on #15
I've implemented this as a SharedPreference with mode Context.MODE_PRIVATE.  WIll be in the next PR.  Will close once merged.

[2015-02-05 13:16] reustonium opened #18 "Create Actionbar Theme"
Font, color and action buttons to match existing yellr app.

[2015-02-05 13:17] reustonium opened #19 "Implement Split Actionbar"
The current app makes nice use of bottom screen space to provide additional action buttons (image, video, text, etc) we should follow the same design by using a split actionbar.

[2015-02-05 13:18] reustonium commented on #2
I think this can be closed by PR #16, thoughts?

[2015-02-05 13:20] thequbit commented on #2
Sure does!

Closing.

[2015-02-05 13:20] #2 closed

[2015-02-05 13:20] thequbit commented on #15
Closing.

[2015-02-05 13:20] #15 closed

[2015-02-05 13:20] thequbit commented on #9
IndentServices have been implemented to actually perform the HTTP method calls.  Now a service needs to be implemented that will periodically call those IndentServices and repopulate the UI as needed.

[2015-02-05 13:22] reustonium commented on #8
After reading more, I'm not convinced this is a good idea. Screen rotation is a core android design principle, rather than disabling it to fix a potential fragment loading problem I'd rather implement the correct solution.

I think we can keep this open for now though, it might end up being a quick fix if we absolutely need it.

[2015-02-05 13:23] thequbit commented on #17
Were you thinking `ExpandableListView` for this?  An assignment has a `question_text` as well as 'description' fields.  `question_text` could be displayed as the default, and then the expansion could be 'description'.

Thoughts?

[2015-02-05 13:27] reustonium commented on #17
yeah thats one good way of showing this info, if there is also media associated with a story it might be nice to use a simple `ListFragment` with a custom adapter.

Then you could have the thumbnail on the left, a title to the right, and a description below it.

![image](https://cloud.githubusercontent.com/assets/1432186/6060929/d014e2ee-ad10-11e4-9910-519b5aec62b6.png)

[2015-02-05 13:35] thequbit commented on #17
Assignments won't have media (for now),  however stories will have a
picture associated with each story, so that will work out well.

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 5, 2015 8:27 AM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-05 13:40] reustonium opened #21 "Update Assignments Fragment ListView"
Might want to experiment with an `ExpandedListView` for assignments and see how you like it.

[2015-02-05 13:50] thequbit commented on #17
herm, this is not as simple as I thought it would be (note: this is because I'm lost not because it's actually hard, ha).  Will continue to hack away at it.

[2015-02-05 13:54] thequbit commented on #17
@reustonium In what package should the .XML and .java files for this live?  Under activities? fragments? something new?

[2015-02-05 13:58] reustonium commented on #17
all layout xml lives under `/res/layout`
the java files should remain [here](https://github.com/hhroc/yellr-android/tree/master/app/src/main/java/yellr/net/yellr_android/fragments)

Again not a perfect example but here is the lunchpals way
`PangsListFragment` [link](https://github.com/reustonium/Lunch-Pals/blob/master/lunch-pals/src/main/java/com/reustonium/lunchpals/fragments/PangsListFragment.ja

[2015-02-05 18:25] thequbit commented on #17
That ... that was a bit painful.

https://github.com/hhroc/yellr-android/pull/22

Creates and populates lists for assignments and stories.  Needs some styling, but that can be done later on.

@reustonium give it a review and let me know.  It's hard-coded to talk to http://yellr.mycodespace.net/ at the moment.  I'll leave the server running so you can give it a test.

http://yellr.mycodespace.net/s

[2015-02-05 18:28] reustonium commented on #17
closed by #22

[2015-02-05 18:28] #17 closed

[2015-02-05 18:28] reustonium commented on #21
closed by PR #22

[2015-02-05 18:28] #21 closed

[2015-02-05 18:29] thequbit opened #23 "Style entries in assignments and stories lists"
Need some of that sweet, sweet styling for our lists.

[2015-02-05 18:53] thequbit opened #24 "Create view assignment Activity"
Need a new activity to display an assignment and it's information.  This then needs a "contribute" button on it, which will go to the 'publish post' activity.

[2015-02-05 18:53] thequbit opened #25 "Create view story Activity"
Need an activity to display the story title, picture, top text, and it's contents.

[2015-02-05 18:56] thequbit opened #26 "Create Publish Post activity"
Need a new activity to create a new post.  Let's keep this simple for the first round of this app and just have it be a picture.

We'll need to fire the 'take a picture' or the 'select a picture' things to get the content for the upload_media.json call as well (I haven't a clue how to do this ...).

[2015-02-05 19:00] thequbit opened #27 "Crate View Profile activity"
Need to create a location where the user can see their profile.  Should be populated by get_profile.json.  This is blocked by https://github.com/hhroc/yellr-android/issues/9 ... need to get the data to populate this first before continuing.

[2015-02-05 19:01] thequbit opened #28 "Create Settings Activity"
Need a place to set and get settings.  This is also where we will 'reset our UUID (client_id)'.  This is low priority for the time being.

[2015-02-05 19:11] thequbit opened #29 "rename main activity"
We've somehow lost the correct name of our main activity, so it now shows up as "HomeActivity" rather than "yellr".

[2015-02-05 20:05] thequbit commented on #25
We'll need to figure out the best way to render the story.  It will be in MarkDown/HTML within the database.  I'm sure we could render it in a browser container for the time being ... not idle, but quick and 'good enough'.

[2015-02-05 20:10] thequbit opened #30 "Put all URLs into @string/ holders"
to make life easier

[2015-02-05 20:37] reustonium commented on #14
closed via PR #31

[2015-02-05 20:37] #14 closed

[2015-02-05 20:48] reustonium commented on #29
closed by PR #32

[2015-02-05 20:48] #29 closed

[2015-02-05 22:05] reustonium opened #33 "Use Volley or Okhttp libs for IntentServices"
This will go a long way toward fixing the code in the IntentServices specifically exception handling

From `AssignmentsIntentService.java`
`TODO: need to check for exceptions better, this bombs out sometimes`

[2015-02-06 01:11] thequbit commented on #33
Sounds good.   I'll look into it and implement.

[2015-02-06 01:12] #27 closed

[2015-02-06 01:12] reustonium commented on #33
this full example is overkill, but it's a real-world example of how to use OkHttp (among other really helpful libs)

https://github.com/JakeWharton/u2020

[2015-02-06 01:13] thequbit commented on #3
See #26

[2015-02-06 01:13] #3 closed

[2015-02-06 02:50] #18 closed

[2015-02-06 02:51] reustonium opened #35 "Add action buttons to ActionBar"

[2015-02-06 19:27] reustonium commented on #19
This type of design really doesn't fit into the 'Android Design' paradigm.  Ideally all 4 story types would be launched from a single "new story" button (FAB or Action Button).

[2015-02-06 19:29] reustonium commented on #35
closed by PR #36

[2015-02-06 19:29] #35 closed

[2015-02-06 19:29] thequbit commented on #19
Possible wrong vocabulary used here...  By story do you mean post?

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 6, 2015 2:27 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-06 19:42] reustonium commented on #19
Yes, my mistake a post.

The `SplitActionBar` by design pushes all action buttons to the bottom of the screen on narrow devices.  The legacy app keeps some of the buttons on the actionbar and some down below.

I would argue that the actionbar's primary action button is for a 'new post', and that the `PostActivity` can handle what media get's attached. @thequbit what do you think?

[2015-02-06 19:43] reustonium opened #37 "Fix incorrect vocabulary 'Story' ==> 'Post'"

[2015-02-06 19:48] thequbit commented on #19
I thought no that makes sense, yea.   Let me pull down the code and see
what it looks like when rendered.

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 6, 2015 2:42 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-06 20:48] #37 closed

[2015-02-06 20:48] thequbit opened #39 "App creates two icons when installed"
The app creates two icons in the apps list when installed.  They both appear to do the same thing.

[2015-02-06 21:04] reustonium commented on #39
I believe the second icon is an artifact on the installed device from when I updated the application name. If you performed a clean install, I expect a single icon.

[2015-02-06 21:05] reustonium commented on #39
I'll investigate to confirm

[2015-02-06 21:08] thequbit commented on #39
I restarted the emulator thinking that would be enough.   I uninsalled the
app on the emulator and reinstalled.   The two icons came back.

-TD

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 6, 2015 4:05 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-06 21:53] thequbit commented on #39
Confirmed when installed on my HTC One M7 that two icons were created.

[2015-02-07 01:10] #39 closed

[2015-02-07 01:30] thequbit commented on #39
:+1:

[2015-02-07 19:18] thequbit commented on #25
This is stubbed out, and working in https://github.com/hhroc/yellr-android/pull/41.

Closing, and will open new tickets for UI and functionality tweaks.

[2015-02-07 19:18] #25 closed

[2015-02-07 19:19] thequbit commented on #24
Will display Assignment Question, and question description.  Should also display who posted it, and it's due date.  There needs to be a button that allows the user to contribute to that assignment (Launch an Intent for PostActivity with putExtra of the assignment id).

[2015-02-07 21:20] thequbit commented on #24
Got this hooked up in https://github.com/thequbit/yellr-android/commit/a01c598ea87a5a6bc1368a6ef219f5e02a1880fb

Contribute button passes the assignmentId with the Intent to the PostActivity, so it can be included with the HTTP POST to publish_post.json.

Will do a PR once @reustonium finishes up the Post stuff and confirms correct operation.

[2015-02-08 03:01] reustonium opened #42 "PublishPostIntentService GSON Issue"
Stringifying the MediaObjects JSON to pass to the service via putExtras(string) isn't necessary, and is actually a lot more complicated than the alternatives.

The current method requires:
1. creating a MediaObjectsDefinition Object
2. setting the properties
3. using gson.toJson
4. putExtra(newJsonString)

This causes bugs when getExtras finds a single media object rather than an array.

Since com

[2015-02-08 03:10] thequbit commented on #42
In my opinion we should ignore anything json with regard to the media_objects field within publish_post.json.

Just sent the parameter that you pass to the media_objects field to:

[code]

Where media_object_id is the string returned in the media_object_id field within the response from upload_media.json.

Generate the json by hand for the field. In the future of we support additional mediaobjects

[2015-02-08 03:11] thequbit commented on #42
Note: above was edited ^^

[2015-02-08 03:11] reustonium commented on #42
yeah thats what I'm doing now, running into some issues in the PublishPostIntentService, during media upload.

[2015-02-08 03:12] reustonium commented on #42
gonna have to call it quits soon, maybe you can take a look tonight, I'll create a new issue with line numbers and problem definition.

[2015-02-08 03:12] thequbit commented on #42
sounds good.  push and open a ticket, or comment here where it's bombing out and I'll take a look tonight.

[2015-02-08 03:18] reustonium opened #43 "Fix PostFragment to PublishPostIntentService problem"
Reproduce by starting app, clicking on the 'New Post' action button in the HomeActivity.  Then add text to the 'What's on your mind' edittext.  Press upload.

The upload button fires PostFragment.java at line 116.  The code dies in PublishPostIntentService during mediaObject upload at line 245 citing an empty text field.

[2015-02-08 12:42] thequbit opened #44 "Render story markdown on view story page"
I assume we'll need to use a library like this one:

http://uncodin.github.io/bypass/:

[2015-02-08 15:47] reustonium commented on #43
didn't see anything on this one from last night, so I'm gonna take a crack at it unless you object @thequbit

[2015-02-08 16:14] thequbit commented on #43
Why don't I take this one, since it's server communications and I'll have more granularity on what isn't getting t the server.

Reassigning to me @reustonium

[2015-02-08 16:33] thequbit commented on #43
So this was 100% my fault.  The docs aren't very good around these two end points.

If `media_type` is "text" then `media_file` and `media_caption` both become optional (they are not looked at by the server).

if `media_type` is not "text" (that is "audio", "video", or "image"), then `media_text` becomes optional (it is not looked at by the server).

It appears that the MultipartEntityBuilder,addP

[2015-02-08 16:35] thequbit commented on #42
Looks like this is connected to #43, and probably can be closed after that is closed.  I would like to revisit how we're doing that with the gson object, but if it works we can let it ride for the moment.

[2015-02-08 16:39] reustonium opened #45 "ViewAssignmentFragment Button"
The 'Contribute' button should really be an actionbar item.  Remove the button from the layout and add it to the actionbar.  Trigger `LaunchContributeToAssignment` from actionbar button.

[2015-02-08 16:48] thequbit commented on #45
:+1: makes sense to me.

[2015-02-08 16:48] reustonium commented on #42
agreed on letting it stay if it's working.  I also recommended the most painful java JSON lib. I meant to recommend Jackson, not GSON. My bad.

[2015-02-08 16:52] reustonium commented on #43
Mint! Go ahead and merge this beast

[2015-02-08 16:53] reustonium opened #46 "New Post app flow"
After submitting a new post, clear out the edit text and take the user back to the homeActivity.

[2015-02-08 16:57] thequbit commented on #42
haha, classic.  No worries.

[2015-02-08 16:57] #42 closed

[2015-02-08 16:58] #43 closed

[2015-02-08 16:59] thequbit commented on #26
I think this is closable, yes @reustonium ?  Or are you going to close it after you clear the fields, notify user, and return to HomeActivity?

Additionally, if we are responding to an assignment, we may want to return to the assignment rather than go to the HomeActivity.  My assumption is that we are simply just 'leaving' the post activity, not directing to another one (so the back button works c

[2015-02-08 17:01] reustonium commented on #26
I maintain that viewing a single assignment is redundant.  We can close this issue since I created a new issue for handling the 'after' post workflow, let's take that discussion there. #46

[2015-02-08 17:01] #26 closed

[2015-02-08 17:01] thequbit commented on #43
Merged #47

[2015-02-08 17:03] thequbit commented on #46
Since we're talking about the flow being changed for viewing assignments, let's implement this as having the user be taken back to the HomeActivity.

[2015-02-08 17:31] reustonium opened #48 "Assignment_ID is not being set properly from AssignmentsListFragment"
Find out why...

[2015-02-08 17:41] reustonium commented on #48
`PostFragment` is getting called from `AssignmentsFragment` without a `Bundle`, i.e. `assignementID` is not getting passed.  Investigating further...

[2015-02-08 17:59] reustonium commented on #48
Ugh, what a pain in the ass.  Need to implement the `.NewInstance` design pattern.  The PostActivity still recieves the intent (including the `assignmentID`) then when the PostFragment is created it should call the `.NewInstance` method and take the `assignmentID` as a parameter.

This all happens because the Intent only launches the Activity, when the Fragment get's made it loses the intent.  I h

[2015-02-08 18:14] thequbit commented on #48
Any option to save it to the shared preferences as the "current assignment
id" as a hack?

What kind of effort is associated with the conversion?

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 8, 2015 12:59 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-08 18:15] reustonium commented on #48
I'm about 30% done, this is the right design pattern.  It'll show up many other places in this app.

[2015-02-08 18:21] reustonium commented on #48
PR #49 fixes this bug.

[2015-02-08 18:21] #48 closed

[2015-02-09 02:05] thequbit commented on #24
Looks like this is going to get pulled out for the first version of the app,  and we'll just launch the PostActivity from the ViewAssignments fragment.

Leaving open,  until that flow is implemented, then will close and Mark as non-implemented

[2015-02-09 02:06] thequbit commented on #19
I really like this flow.   Closing.

[2015-02-09 02:06] #19 closed

[2015-02-09 16:10] reustonium opened #53 "StartActivityForResult problems"
Submitting a post is not going back to homeactivity all the time, investigating...

[2015-02-09 16:40] #53 closed

[2015-02-09 16:44] reustonium commented on #46
closed by #54

[2015-02-09 16:44] #46 closed

[2015-02-09 16:44] reustonium commented on #45
closed by #54

[2015-02-09 16:44] #45 closed

[2015-02-09 16:45] reustonium commented on #24
closed by #54

[2015-02-09 16:45] #24 closed

[2015-02-09 17:52] thequbit commented on #23
@reustonium are you going to take this on?  If you point me to some docs I could do it, however at the moment I'm a bit lost as to where to start.  It seems kind of CSS like, but in XML format.  Let me know.

[2015-02-09 17:54] reustonium commented on #23
i'll take the first stab at it

[2015-02-09 18:07] thequbit commented on #23
Don't go crazy, if anything just having all of the fields to tweak in the XML files is a great start.  I'm sure we're going to get a lot of feedback on visual appearance from the other HHRoc folks, especially our UX guy.  Thanks for taking a crack at it!

[2015-02-10 03:48] #23 closed

[2015-02-10 03:50] thequbit opened #56 "Rotation crashes app"
When rotating the phone, the app crashes.

This could be an extension of the conversation in #8 .

[2015-02-10 03:52] thequbit opened #57 "Author on stories in story list is incorrect"
The display name on the stories list for each story is incorrect.  It is currently just set to:

    textViewPublishAuthor.setText(getString(R.string.fa_user) + " Tim Duffy/HHROC");

This needs to be pulled from the response from get_stories.json

[2015-02-10 13:25] thequbit opened #58 "Create Android notification ( not yellr notifiction ) when new assignments/stories/notifications/messages are available"
This is coupled with #9 .

The service should poll periodically, and when new assignments, stories, yellr notifications, and/or messages are available, and notify the user via the status bar.  Since we have the icons for each of the items that the user can be notified about in the action bar, I don't see any reason to bring the user to a specific page, just the HomeActivity.

I've been far past my

[2015-02-10 13:30] thequbit commented on #44
https://github.com/Uncodin/bypass/issues/158

I don't think bypass is the right option for us, since it looks to be written in C and needs to be compiled.

I think we'll just send the pre-rendered HTML to the device, and display the HTML in the TextView:

http://stackoverflow.com/questions/2116162/how-to-display-html-in-textview

It's a solid solution, with a quick implementation.

[2015-02-10 13:43] thequbit opened #59 "Implement "pull down to refresh"?"
@reustonium how hard is it to implement the 'pull down to refresh' on all of the list fragments?

[2015-02-10 14:07] thequbit opened #60 "Change date/time display for times less than 15 minutes"
So there will be some differences in time between the server and the mobile device being used.  Because of this, we can get "-1 minutes ago." on the app.  We should change it to anything less than 15 minutes (including date/times in the future), should be "just now" instead of "n minutes ago."

[2015-02-10 14:21] reustonium commented on #59
medium, but necessary i think.

[2015-02-10 14:21] reustonium commented on #60
sounds good, there is almost certainly going to be some timezone issues that are currently unhandled.

[2015-02-10 14:23] thequbit commented on #59
Not a high priority at the moment.  Opening and closing the app fires the
events needed to refresh, and i'll (hopefully) have the service done soon
so new assignments/stories/messages/notifications will come in
automatically.

On Tue, Feb 10, 2015 at 9:21 AM, Andy Ruestow notifications@github.com
wrote:

##

_Tim Duffy_
http://timduffy.me/
(585)-210-8353
@arbiterofbits

[2015-02-10 14:23] thequbit commented on #60
oh man ... yea good point.

Switch everything to GMT then?  I think that probably makes the most sense ...

@Nolski ya want to chime in on this?

[2015-02-10 14:30] reustonium commented on #60
Timezones are the worst, I wish we just went to global GMT.  I have no problem working my straight job from 1230z-2130z.

If we make this change at the same time as the metric system, people won't even complain about going metric. /rant

[2015-02-10 14:37] thequbit commented on #60
I ... I don't .. I don't know what repo to open the 'move the US to metric' issue in ...

[2015-02-10 14:43] reustonium commented on #60
[bootstrap](https://github.com/twbs/bootstrap) has the most star's by far, start there?

:earth_americas:

[2015-02-10 16:20] thequbit commented on #44
There are,  as one can imagine, a number of gotchas when doing HTML rendering.

I implemented WebView with good success,  however we'll need to add some css to ensure images are displayed correctly.

[2015-02-10 16:23] reustonium commented on #44
I'd be weary of WebView, it's been the most common source of Android Vulnerabilities in the past.

[2015-02-10 17:07] thequbit commented on #44
Herm, alright.  It didn't look like there was a good way to do pictures in TextView, however I may not have dug deep enough.

I won't submit the PT with the WebView stuff in there then.

Thanks @reustonium

[2015-02-11 13:05] thequbit opened #61 "Implement 'take photo' on post fragment"

[2015-02-11 13:57] thequbit commented on #8
I'm thinking that, for the moment, we disable app rotation for this round.  It's becoming a time sync when the app crashes (ref: #56).

Thoughts?

[2015-02-11 14:54] reustonium commented on #57
Fixed, will include in next PR

[2015-02-11 15:06] reustonium opened #63 "Handle Local Timezones"
Do local timezones matter?

Since assignments are based on geolocal will we run into local timezone issues?  How are timestamps handled in the API?

If the client sets the timestamp on creation this might not be an issue.  If the server is setting it, it is almost certainly a problem.

Thoughts @thequbit

[2015-02-11 15:08] reustonium commented on #60
opened a new question for timezone questions #63,  This can be closed pending the merge of PR #62

[2015-02-11 15:13] reustonium commented on #8
Screen rotation is a necessary android behavior.

[2015-02-11 15:13] #8 closed

[2015-02-11 15:19] reustonium commented on #60
closed by PR #62

[2015-02-11 15:19] #60 closed

[2015-02-11 15:19] reustonium commented on #63
closed by PR #62

[2015-02-11 15:19] #63 closed

[2015-02-11 15:19] reustonium commented on #56
closed by PR #62

[2015-02-11 15:19] #56 closed

[2015-02-11 15:47] thequbit commented on #61
I had to change quite a bit with how posts were being uploaded for this (made it cleaner in the end).  Just an FYI that a merge might be a bit tough, since I had to touch a few files.

[2015-02-11 15:51] reustonium opened #64 "Snackbar confirmations"
Rather than using toasts, it would be nice to use a snackbar notification when the user performs an action.  e.g. submit new post, boom snackbar on the bottom to let them know it was successful (or unsuccessful).

https://github.com/nispok/snackbar

![snackbar example](https://raw.githubusercontent.com/nispok/snackbar/master/art/home-1line.png)

[2015-02-11 16:22] reustonium commented on #57
closed via PR #62

[2015-02-11 16:22] #57 closed

[2015-02-11 16:49] reustonium opened #65 "Require Camera?"
I'm not sure it's a good idea to set `required=true` for the camera `uses-feature`.

Found in the manifest...
`<uses-feature android:name="android.hardware.camera" android:required="true" />`

This requirement would prevent any user from even loading the app on their phone if they don't have a camera.  I know most phones have a camera these days, but I'd think that we would still want to welcome u

[2015-02-11 16:52] thequbit commented on #65
100% agree.   That push was kind of mid-thought.  I wasn't able to get
permissions and I thought it was a camera issue,  but it's definitely a
storage issue.

Will pull out before submitting PR to upstream.

##

Tim Duffy
http://timduffy.me/
585-210-8353
@arbiterofbits
On Feb 11, 2015 11:49 AM, "Andy Ruestow" notifications@github.com wrote:

[2015-02-12 15:04] reustonium commented on #65
closed by PR #66

[2015-02-12 15:04] #65 closed

[2015-02-12 15:04] reustonium commented on #59
closed by PR #66

[2015-02-12 15:04] #59 closed

[2015-02-12 15:39] thequbit commented on #7
This activity should have:
- View current Client ID (UUID)
- Regenerate Client ID
  - forgets previous Client ID
- Register with YellR
  - Submit email address, password, first name, last name,
    - Note that this end-point does not yet exist ... will need to create before this can be tested.
- View additional profile data
  - Verified status
  - Number of Posts
  - Number of viewed Posts
    - g

[2015-02-13 03:48] thequbit opened #67 "Create intent service for get profile"
This will be pared with the profile activity

[2015-02-13 14:44] reustonium opened #68 "Implement Actionbar Navigation for 'Back'"

[2015-02-13 15:03] reustonium opened #69 "Add Button Styles"
Stock buttons look terrible, first pass will round the edges and use yellow_lighter

[2015-02-13 15:03] reustonium opened #70 "Edit Text Highlight Color is Wrong"
it's blue-green, should be yellow

[2015-02-13 15:25] thequbit opened #71 "Dialog on first-start to inform user of use?"
Maybe we should have a little pop-up/dialog/modal that is shown on first-boot, that shows the user some information about yellr, and what's going on.

@reustonium pointed out, that it's kind of an odd flow being able to post, without having a login.

We can revisit this, but I wanted to make sure it was documented.

[2015-02-13 15:25] thequbit commented on #67
Implemented, will close on PR.

[2015-02-13 16:58] thequbit opened #72 "Display loading pin wheel on first load of lists"
The assignments a day stories lists are just blank until the Intent service returns.   Should display something in the meantime.

[2015-02-13 18:25] thequbit commented on #44
I'm thinking WebView may be our answer after all, just with some sanitizing before hand.  After inquiring with those who are a bit more in-the-know, if the HTML is coming over HTTPS, the chance of injection is minimized (although, not zero).  We can do a .replace() for '<script>' to make it safer as well.

I'm going to implement, and push.

[2015-02-13 21:25] thequbit commented on #44
Implemented within #73

[2015-02-13 21:25] #44 closed

[2015-02-14 05:06] thequbit commented on #61
implemented, will close with PR

[2015-02-14 12:49] reustonium opened #74 "Display User Name on PostView"
Should alert the user if they are "Posting as Anon" or as a user.

[2015-02-14 13:18] reustonium opened #75 "Analytics?"
As a user I think analytics are pretty grimy. As a dev they can be helpful. What are your thoughts on either using analytics for the beta or having it be opt in only?

[2015-02-14 15:57] thequbit commented on #75
So we capture quite a bit of data on the server side in the ClientLogs table in the database about how endpoints are being used.  As for app-side analytics, i think they could be valuable, but would diverge from the vision of the project.  I think we'll keep those out for now, and continue to ask that our alpha users fill out the survey we developed.

[2015-02-14 16:00] thequbit opened #76 "Splash screen too long?"
If i'm seeing something i want to share ASAP, the splash screen may be a bit long.  I say we do 2 seconds for first boot, and .5 seconds for every other.  Thoughts @reustonium ?

[2015-02-14 16:03] reustonium commented on #76
I think there's little value in varying the time. Might as well just make
it 500ms all the time.
On Feb 14, 2015 11:00 AM, "Timothy Duffy" notifications@github.com wrote:

[2015-02-14 16:19] thequbit commented on #76
Sounds good to me.  I'll include on next PR.

[2015-02-14 18:54] reustonium commented on #75
sounds good, glad to hear the project supports users privacy!

[2015-02-14 18:54] #75 closed

[2015-02-14 20:19] reustonium opened #78 "Create a DialogFragment to Sign up a new User"
Is there an API call for this on the server side?

[2015-02-14 20:39] thequbit commented on #78
Negative,  just on the admin side.   I'll create a ticket on yellr-server and post here once implemented.

[2015-02-14 20:56] #7 closed

[2015-02-14 20:59] thequbit commented on #6
Closed with #80

[2015-02-14 20:59] #6 closed

[2015-02-14 20:59] thequbit commented on #61
Closed with PR from @thequbit

[2015-02-14 20:59] #61 closed

[2015-02-14 21:00] thequbit commented on #67
Implemented with PR #80

[2015-02-14 21:00] #67 closed

[2015-02-14 21:02] thequbit commented on #76
Closed in #80.  changed to .5 seconds.

[2015-02-14 21:02] #76 closed

[2015-02-14 21:13] thequbit opened #81 "Preview image on post from disk, rather than preview byte array"
Preview image didn't work on wifes phone, and made it crash.  Should just pull from disk (the preview is way too small anyway).

[2015-02-14 21:16] thequbit opened #82 "Notifications should do something when you click on them"
Right now, the notification list just says some text.  Something should happen when you click on them.  For messages, it would make sense to bring to a response message screen.  For successful posts, maybe display some information about the post?  Like the text in it, or a preview image?

@reustonium let me know if you have any input, otherwise I'll just push forward with some thing quick and dirt

[2015-02-15 00:32] reustonium commented on #69
closed by PR #79

[2015-02-15 00:32] #69 closed

[2015-02-15 00:49] reustonium opened #83 "Blank New Posts"
Disallow blank posts.

[2015-02-15 00:52] thequbit commented on #83
This should also be handled on the server side.

[2015-02-15 01:24] thequbit commented on #78
https://github.com/hhroc/yellr-server/issues/100

Needs to be closed before this can be closed.

[2015-02-15 04:07] thequbit commented on #78
Implemented on server side.

docs:
https://github.com/hhroc/yellr-server/wiki/Client-API-Documentation#verify_userjson

[2015-02-15 04:56] thequbit commented on #78
https://github.com/hhroc/yellr-android/pull/84

Added intent service for this.

[2015-02-15 17:54] reustonium opened #85 "Remove 'Options' Menu items from several fragments"

[2015-02-16 01:55] thequbit commented on #81
Looks as though I had already changed this some time ago.  Closing.

[2015-02-16 01:55] #81 closed

[2015-02-16 18:16] reustonium opened #88 "Implement Otto Event Bus"
https://square.github.io/otto/

Allows us to simplify activity/fragment communication, allowing us to drop lots of boilerplate listeners.

[2015-02-16 20:16] thequbit commented on #9
I thought I closed with with #87 , however @reustonium showed that is not the case.  Will work to implement AlarmManager implementation this evening, and resubmit a PR.

[2015-02-17 02:53] reustonium opened #89 "Grey Out Video & Audio Buttons for v0.1.0"

[2015-02-17 02:56] reustonium opened #90 "Successful Post Toast"

[2015-02-17 13:31] reustonium opened #91 "Describe Versioning Approach"
Semver + Common Sense, will make a quick .md

[2015-02-17 15:44] reustonium opened #92 "Create Play Store Listing"
https://play.google.com/apps/publish/

[2015-02-17 18:26] thequbit commented on #92
Name: Yellr
Short Description: Community Engagement App
Long Description: (TBD)

Application type: Applications
Category: Communication
Content rating: Everyone

Website: http://yellr.net/
Email: yellrdev@gmail.com
Phone:

[2015-02-17 18:27] reustonium commented on #92
nice!

[2015-02-17 18:27] thequbit commented on #92
Need to submit screen shots still, but getting there!

[2015-02-17 18:27] reustonium commented on #92
might want to look at that short description

[2015-02-17 18:28] thequbit commented on #92
dat copy pasta

[2015-02-17 18:38] thequbit opened #93 "Hook up GPS"
Looks like i hard-coded the lat/lng for testing.  We need to pull from the GPS coordinates before we can push 0.1.0.

[2015-02-17 20:59] reustonium commented on #90
Toast's can only happen on the UI Thread, need to implement an async task with a handle for the UI thread, or maybe some listeners for a successful post.

[2015-02-18 12:38] thequbit commented on #93
Implemented in #94

[2015-02-18 13:17] reustonium opened #95 "Create v0.1.0 Tag"
Once you build the Release version of the APK and upload it to the play store, we should tag the source at that point.

[2015-02-18 14:33] #85 closed

[2015-02-18 14:33] #89 closed

[2015-02-18 14:35] #90 closed

[2015-02-18 14:35] #83 closed

[2015-02-18 14:35] #68 closed

[2015-02-18 14:37] #91 closed

[2015-02-18 14:45] reustonium opened #98 "Create Notifications for New Assignment and New Story"

[2015-02-18 14:47] reustonium opened #99 "Gson = "" or null crash"

[2015-02-18 14:50] #93 closed

[2015-02-18 15:25] reustonium opened #100 "Prepare for Release"
### Overview
https://developer.android.com/tools/publishing/preparing.html

### Application Signing (gradle file changes)
https://developer.android.com/tools/publishing/app-signing.html
https://developer.android.com/tools/building/configuring-gradle.html

[2015-02-18 16:14] reustonium commented on #99
java has a nice helper method `String.isEmpty()`

[2015-02-18 16:35] reustonium opened #101 "Create Notifications for New Message and YellrNotifications"

[2015-02-18 18:07] #98 closed

[2015-02-18 18:29] reustonium opened #103 "Fix image preview"
* Rotate image
* place below text

[2015-02-18 18:49] reustonium opened #104 "Toast if Post was unsuccessful"

[2015-02-18 19:31] #99 closed

[2015-02-18 19:31] #104 closed

[2015-02-19 00:29] thequbit opened #107 "When clicking on android notification, it is not dismissed"
I would expect that clicking on the notification would dismiss it, and then open the post fragment.

side note: this is freaking awesome!!!!!

[2015-02-19 01:33] #30 closed

[2015-02-19 13:31] reustonium opened #110 "Verizon LGG2 doesn't launch StoryActivity on Notification"

[2015-02-19 17:59] thequbit opened #112 "LocationManager is not reporting location"
Even a COURSE one.  Right now, we default to Rochester (  43.1656, -77.6114 ), if we can't get a location.  Need to look into that.

[2015-02-19 18:00] thequbit opened #113 "Add 'approved posts' feed to app"
This requires a significant effort on the server side, so we're blocking on that.

[2015-02-19 18:02] thequbit opened #114 "remove noticiation and messages icons from action bar until they do something"
These are not implement yet, so we should remove them.

[2015-02-19 18:06] thequbit opened #115 "media caption is 'caption' not 'media_caption'"
This is fixed with a hack on the server, but we should change it to caption.

[2015-02-19 18:36] reustonium opened #117 "Remove Toast on Image Capture"
Debuging toast shows up stating image location.

[2015-02-19 18:46] #114 closed

[2015-02-19 18:53] reustonium commented on #117
@thequbit is this something we want to remove?

[2015-02-19 19:26] thequbit commented on #112
This may be due to permissions,  we only have GPS,  not corse location...

[2015-02-19 19:50] thequbit commented on #112
@reustonium

https://developer.android.com/training/location/retrieve-current.html

Does that mean that Google Play knows your location and is uploading it to Google??? or that we are just using the Google Play API?  And is there a min API requirement to do it this way??

[2015-02-19 20:33] thequbit commented on #117
Yup, it was for debug for today.

[2015-02-20 02:53] thequbit commented on #112
So this is because users do not have location sharing turned on.  We should notify them of this, and offer to open the settings activity to enable it, or prompt the, for where they want to set their location to.

[2015-02-20 12:57] thequbit opened #119 "Time decode for stories doesn't appear to be working"
Always shows 'a moment ago'.

[2015-02-20 12:58] thequbit commented on #119
It says "Moments ago".

[2015-02-20 13:29] reustonium commented on #119
the debug release looks fine, we need to find a better way to test the release version on emulators.

I can't installed an unsigned `assembleRelease` build on my device to test it out.

but you are right whatever version of the code is built and distributed on yellr.net right now only shows "moments ago"

[2015-02-20 15:13] thequbit opened #120 "Change default text in post field"
Let's change this from "What's on your mind?" to "Tell us about your community.".

[2015-02-20 15:14] thequbit opened #121 "Naturalize app"
Need to naturalize the app for various langauges.  English and Spanish first.

@reustonium the way we did this on the Cordova app was just having look up tables based on system language.  Does that fit with what you were thinking?

[2015-02-20 15:18] thequbit opened #122 "Formatting for organization name needs to be truncated on assignments"
Looks like we just need to truncate the name of the organization posting the assignment.

Submitted via the Yellr app:

![](https://yellr.net/media/2ef516f8-5950-46d8-a978-cef574f0ef02p.jpg)

[2015-02-20 15:18] reustonium commented on #121
android has really nice localization methods that just looks at `@strings_en` or `@strings_es`

[2015-02-20 15:18] reustonium opened #123 "Run assembleRelease builds on emulator"

[2015-02-20 15:19] thequbit commented on #119
Submitted via the Yellr app:

![](https://yellr.net/media/66bce9ab-7833-4bf0-a17c-4e864a40a208p.jpg)

[2015-02-20 15:59] thequbit commented on #123
@reustonium think it's worth me blasting a question out to AppRochester for this?

[2015-02-20 16:21] reustonium commented on #123
yeah for sure.

On Fri, Feb 20, 2015 at 10:59 AM, Timothy Duffy notifications@github.com
wrote:

[2015-02-20 16:34] thequbit commented on #123
Email sent.

On Fri, Feb 20, 2015 at 11:21 AM, Andy Ruestow notifications@github.com
wrote:

##

_Tim Duffy_
http://timduffy.me/
(585)-210-8353
@arbiterofbits

[2015-02-21 04:51] thequbit opened #124 "After posting, hitting the back key brings the user back to the post activity/fragment"
@reustonium any insight to this?

[2015-02-21 13:50] reustonium commented on #124
Yeah probably need to remove this from the backstack upon post.

The thought was that if the post was unsuccessful they  could get back
easily.
On Feb 20, 2015 11:51 PM, "Timothy Duffy" notifications@github.com wrote:

[2015-02-21 22:11] thequbit opened #125 "migrate over to single get_data.json end point"
New end point reduces server load.

[2015-02-22 19:21] thequbit opened #127 "remove set location activity from back history"
after setting your home location, you should not be able to hit back to get back to it.

[2015-02-22 19:36] thequbit commented on #112
This is fixed in #126

We ask the user for a default location (via zipcode), and fall back to that if they do not have location services turned on.

[2015-02-22 19:38] thequbit commented on #122
I think this can be done by adding `android:singleLine="true"` to the properties of the TextView.

[2015-02-22 19:40] thequbit commented on #103
I am removing this from the 0.1.0 release.  It's wrapped in all the protection it needs not to make the app crash, but for some reason, I can not get it to display.

Wife's phone shows this bug, so I can use hers to debug.

[2015-02-22 19:42] thequbit commented on #115
This fix actually made it into #126.

I'm not convinced that we'll actually keep it this way, but it's been implemented.

[2015-02-22 19:43] thequbit commented on #125
There is a lot of the infrastructure for this within #126.  Last part is decoding the json, and then shipping off to each receiver.

[2015-02-23 02:36] thequbit commented on #120
#126 closes

[2015-02-23 02:36] #120 closed

[2015-02-23 02:37] thequbit commented on #117
#126 closes.

[2015-02-23 02:37] #117 closed

[2015-02-23 02:38] thequbit commented on #112
Zip code work around implemented in #126.

[2015-02-23 02:38] #112 closed

[2015-02-23 02:38] thequbit commented on #115
Closed in #126.

[2015-02-23 02:38] #115 closed

[2015-02-23 02:40] thequbit commented on #125
Removing from 0.1.0 release,  dine we're only using get_assignments.json and get_stories.Json

[2015-02-23 02:42] thequbit commented on #122
That additional property did not solve the issue.

[2015-02-23 02:43] thequbit commented on #124
How do we remove it from the history list?  This is the same thing as #127.

[2015-02-23 13:54] thequbit opened #128 "allow users to select a picture they have already taken, or take a new picture with the camera"
This would be an added feature to the PostFragment.

This suggestion came via the Yellr app.

[2015-02-23 14:19] thequbit opened #129 "prevent new-line in zipcode textedit"
Hitting enter should fire the 'next' button, not a new line.

[2015-02-23 18:05] thequbit commented on #129
closed by #130

[2015-02-23 18:05] #129 closed

[2015-02-23 18:47] thequbit commented on #127
Closed in #131

[2015-02-23 18:47] #127 closed

[2015-02-23 18:47] thequbit commented on #124
Closed in #131

[2015-02-23 18:47] #124 closed

[2015-02-23 19:04] thequbit commented on #119
This was my fault.  I thought i had the fractional second on the response from the server, however I was stripping it out.  Closed with #132 .

[2015-02-23 19:04] #119 closed

[2015-02-23 19:14] thequbit commented on #122
Closed in #133

[2015-02-23 19:14] #122 closed

[2015-02-26 13:09] reustonium opened #134 "Setup Branches"
Master - Current Stable always tagged with a version number
Dev - Development Branch, new Feature branches must originate from here

[2015-02-26 13:13] reustonium commented on #95
`git tag v0.1.0`

[2015-02-26 14:08] thequbit opened #137 "Sign v0.1.0 tag"
@ryansb suggests we GPG sign our tag.  He has written this tutorial.

http://gitready.com/advanced/2014/11/02/gpg-sign-releases.html

[2015-02-26 14:10] reustonium commented on #137
I think this makes sense if you plan on distributing this apk on locations other than the playstore.

If you are playstore only, google handles the author verification.

[2015-02-26 14:12] thequbit commented on #137
hmm, good point.  I do not intent on distributing other than on the play store, but i suppose if someone wanted to side-load to prevent Google from knowing they downloaded the app, then the signing may be a good idea.

@ryansb, thoughts?

[2015-02-26 14:19] ryansb commented on #137
Signing is never a _bad_ idea. I think @reustonium is thinking we mean signing the APK (which the app store does), but this is referring to signing the release commit, which lets folks verify that the release code they check out is the exact code you intended to release.

There are different levels of trust the signatures imply as well.
- APK signature: "Yes, this person is registered with Google

[2015-02-26 14:22] ryansb commented on #137
Also worth noting: because you already released v0.1.0 you would have to delete that tag, then sign a _new_ v0.1.0 tag to have this release signed.

It may be better to just sign next time you release (and document that v0.1.0 is not supposed to be signed).

[2015-02-26 14:25] reustonium commented on #137
I like you.

Thanks for clarifying "signing the tag", I agree that this is a very good idea.

[2015-02-26 15:47] thequbit opened #138 "Hook up 'post viewed' and 'post used' notifications"
Being able to provide feedback to users that their content is being viewed and used is going to be important.

[2015-02-26 17:16] thequbit opened #139 "Hitting enter on a post should submit"
Similar to the zipcode entry, submitting a post should happen when the user hits enter.

[2015-02-26 18:29] thequbit opened #140 "Add version of app and platform to web requests"
It would be nice to know what version of the app is calling in, as well as what platform is being used (Android, iOS, etc.).  I don't want to capture **too** much information, but I think these things will be useful in the beginning here while we're still in development mode.

[2015-02-26 18:33] thequbit commented on #140
These would be GET params.

[2015-02-26 18:37] thequbit opened #141 "Adjust check-in frequency?"
So we are checking in every 15 minutes right now ...

https://github.com/hhroc/yellr-android/blob/master/app/src/main/java/yellr/net/yellr_android/activities/HomeActivity.java#L55

Is this too fast? not fast enough?  This results in 96 check-ins a day.  If we changed this to 10 minutes it would be 144, and 5 minutes would be 288 check-ins.  I think even 5 minutes should be okay.  I originally thou

[2015-02-26 19:31] thequbit opened #142 "'about this app' pop-up on first install?"
A suggestion from the RIT class:

I agree that it can be a bit confusing as to what exactly the app is for.  I think a small pop-up after first boot (after splash screen, before zipcode entry?), that describes what Yellr is might be worth while.

[2015-02-26 19:31] thequbit commented on #92
Done!

[2015-02-26 19:31] #92 closed

[2015-02-26 19:31] thequbit commented on #100
Done!

[2015-02-26 19:31] #100 closed

[2015-02-26 19:32] thequbit commented on #95
Done!

https://github.com/hhroc/yellr-android/tree/v0.1.0

[2015-02-26 19:32] #95 closed

[2015-02-27 14:28] thequbit opened #143 "Background service not running?"
It didn't look like my background service was running on my app, since I was within a new geo-fence for about 30 minutes (longer then the 15 minute interval rate that we check for new assignments/stories), and the notification of the new assignment didn't pop up.  When I opened the app, it popped up right away.

@reustonium thoughts on this?  Should I maybe be launching the background stuff from t

[2015-03-01 01:04] thequbit opened #144 "Change icon for 'create verified account' on profile page"
Got some feedback from @mattBernius that the icon we used for the verify account' icon on the profile page was a bit misleading  (looks like 'add a friend').   He suggested we change it to something different.

[2015-03-04 15:45] thequbit opened #145 "Add assignment suggestions"
Feedback from WXXI:

Add ability to 'suggest an assignment' back to moderators.  This could just be a button on the top of the HomeActivity.

[2015-03-04 15:48] thequbit opened #146 "Implement poll question type, and display results."
Should implement 'poll' question type (rather than 'multiple choice'), and make those poll results available (and displayed) immediately.

[2015-03-05 16:49] thequbit opened #147 "remove zipcode inquiry, and require location services to be turned on"
After some deliberation with @Nolski, we're going to move away from inquiring about the zipcode, and just require location services to be turned on to use yellr.

I do have some reservations about this, however I think (at least leading up to LibrePlanet) it's the right move to make.

This issue is for removing the zipcode inquiry activity, and to block on the user not having location services ena

[2015-03-06 00:04] thequbit commented on #137
Per what Ryan said about having to delete this tag, I am going to close this ticket and open one for our next release (v0.1.1 for the 9th).

@ryansb thanks for the great input!

[2015-03-06 00:04] #137 closed

[2015-03-06 00:05] thequbit commented on #144
Not only should this be changed, but we also should hide it until it actually does something.

[2015-03-06 00:06] thequbit commented on #141
I clearly can't do math, every 5 minutes is 144 checkins.  I think I will change this to 5 minutes for v0.1.1.

[2015-03-06 00:07] thequbit commented on #140
This is going to be really important moving forward so we can collect information on who is using the app.

[2015-03-06 00:09] thequbit commented on #128
I think this should be included in v0.1.1.  It is a largely requested feature from our feedback forums.

[2015-03-06 00:14] thequbit commented on #123
I was able to get Android Studio to debug the apk on my phone.  I had to turn on USB debugging, install SDK, get the latest drivers from the SDK manger (under Tools->Android in Android Studio), install the drivers for my phone (HTC M7), and then allow access from the computer on my phone (was a pop-up on my phone).

Then, when i hit play, my phone was in the list of targets (usually is the emulato

[2015-03-06 00:25] thequbit commented on #107
Just needed to do `mBuilder.setAutoCancel(true);`.

[2015-03-06 00:25] thequbit commented on #139
I don't think this should actually submit the post.  We should allow \n.  I think, instead, we should place a 'post' button, or a 'submit' button right below the post.  We currently have the post icon in the action bar, however I have received feedback that it isn't obvious.

[2015-03-06 03:28] thequbit commented on #141
aaaaaand there are not 12 hours in a day.  ugh. #newdadbrain ... anyway, every 5 minutes.

[2015-03-06 03:39] thequbit opened #148 "Remove title bar from post activity"
There is no need for the grey title bar.

[2015-03-06 04:07] thequbit commented on #148
I do not know how to do this.  It appears to be apart of the action bar, but is not the action bar.

[2015-03-06 04:16] thequbit commented on #134
Created dev branch.

[2015-03-06 04:17] #134 closed

[2015-03-06 04:19] thequbit commented on #58
This has been implemented for assignments and stories.  Closing since it is out-dated.  As we implement messages and yellr notifications we can open new issues as necessary.

[2015-03-06 04:19] #58 closed

[2015-03-06 04:20] thequbit commented on #142
This is the same as #71.  I am going to close this one, and put the comment in the other issue.

[2015-03-06 04:20] #142 closed

[2015-03-06 04:21] thequbit commented on #71
A suggestion from the RIT class:

[2015-03-06 04:22] thequbit commented on #74
Since v0.1.1 won't have the ability to verify a user (create a login and all that), I think we should just create a TextView that is 'all posts are anonymous', and place it on the PostFragment.

[2015-03-06 15:32] thequbit opened #150 "Present some kind of Loading indication for stories"
For stories on the app we render the Markdown into HTML on the server side, and then pass to the Android app.

We should really have some kind of hook in the HTML within the WebView that displays a loading indicator until all of the text and images are loaded.

[2015-03-06 18:32] thequbit commented on #9
This is implemented, and can be closed.  There is #143 that seems to exist on some phones??  Closing for now.

[2015-03-06 18:32] #9 closed

[2015-03-06 18:33] thequbit commented on #10
I'm closing this, since I haven't had any issues on Windows or Ubuntu.

[2015-03-06 18:33] #10 closed

[2015-03-06 18:34] thequbit commented on #103
I have not seen this bug in a while, @reustonium do you still have a device that does not display the image preview correctly?

[2015-03-06 18:34] thequbit commented on #123
Herm, i actually was not able to get the releaseAssembly to run, just the debug.  I will dig into this further based on feedback from AppRochester.

[2015-03-06 18:50] thequbit opened #151 "After the app 'forgets' the current CUID, we should ping the server"
We should ping the server with the new CUID so when the user goes back to the assignments/stories page they are populated.

[2015-03-06 19:29] thequbit opened #152 "Display pop-up on first post submit informing the user of how their content will be licensed"
@Nolski had a great idea that a pop-up should be displayed the first time the user posts something that explains that their content will be licensed under the CC BY-SA license.  Perhaps we should also include a link so they can get more information?

Additionally, we could just include this in the initial install pop-up referenced in #71.  I would be okay with either/both.

[2015-03-08 01:35] thequbit opened #153 "Long questions don't fit within assignment list row"
The question is hidden by the organization name if it is more than two rows long.

![](http://i.imgur.com/DttlyKa.png)

[2015-03-09 15:45] thequbit commented on #147
Closed in #149 .

[2015-03-09 15:45] #147 closed

[2015-03-09 15:45] thequbit commented on #141
Closed in #149 .

[2015-03-09 15:45] #141 closed

[2015-03-09 15:45] thequbit commented on #140
Closed in #149 .

[2015-03-09 15:45] #140 closed

[2015-03-09 15:46] thequbit commented on #139
Closed in #149 .

Although I think we may want to go with a post activity/fragment view that is closer to what twitter's post looks like.  Will open new issue for that.

[2015-03-09 15:46] #139 closed

[2015-03-09 15:46] thequbit commented on #107
Closed in #149 .

[2015-03-09 15:46] #107 closed

[2015-03-09 17:30] thequbit opened #154 "Resize image on android client before upload"
There is no reason why we need a 4k x 2k image on the server ... we're currently using imagemagick to resize it, and it's taking too long.  We should do it on the android device.

This should be good:
http://stackoverflow.com/questions/3331527/android-resize-a-large-bitmap-file-to-scaled-output-file

[2015-03-09 20:08] thequbit commented on #143
So I believe this is not an issue with the background services not running, but the notification not making it up to the Android notification bar.  Perhaps we're doing something incorrectly in an activity rather than the background service?  More investigation needed.

[2015-03-09 20:08] thequbit commented on #143
Note: this is definitely why we aren't getting feedback on posted assignments :(

[2015-03-09 20:35] thequbit commented on #143
This was just straight up my fault for commenting out code for test, and then not un-commenting it.  Looks to work great now.  PR will be in next PR.

[2015-03-09 20:38] thequbit commented on #143
Closed with #156 .

[2015-03-09 20:38] #143 closed

[2015-03-09 20:50] thequbit commented on #150
Closed with #149.

[2015-03-09 20:50] #150 closed

[2015-03-09 21:00] thequbit opened #158 "Tag and Sign v0.1.0 Release code."

[2015-03-10 12:26] thequbit commented on #138
I think this should be pretty easy to do.  Linked to [yellr-server #165](https://github.com/hhroc/yellr-server/issues/165).

Would be great to have that level of feedback to users.

[2015-03-10 12:28] thequbit commented on #125
I'm not convinced this is actually the answer.  By keeping them separate, we can ping them at different rates.  I think adding the ability to tell the server what assignments/stories/messages it already has ( to limit bandwidth usage ) would be a better use case.

I am going to close this for now.

[2015-03-10 12:28] #125 closed

[2015-03-10 12:29] thequbit commented on #113
This might be a bit ambitious for v0.1.2 ... but it sure would be great to have it implemented before LibrePlanet ...

Going to add to the milestone to see what happens.  This is linked with [yellr-server #148](https://github.com/hhroc/yellr-server/issues/148).

[2015-03-11 00:12] reustonium commented on #123
anything further on this one?

[2015-03-11 00:14] reustonium commented on #144
good feedback, these icons are actually just FontAwesome loaded as a resource and uses the corresponding unicode string

https://fortawesome.github.io/Font-Awesome/icons/

Pick out any icons you like from this set.

[2015-03-11 00:15] thequbit commented on #123
Negative.   However I have not looked into it more.   I'll look back at the
email chain from App Rochester,  and see if I can come up with anything.

-TD
On Mar 10, 2015 8:12 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-03-11 00:16] thequbit commented on #144
I assumed it was that simple.   I'll take a look to see which one makes
sense.

-TD
On Mar 10, 2015 8:14 PM, "Andy Ruestow" notifications@github.com wrote:

[2015-03-11 01:10] thequbit opened #159 "Allow for posts to be 'up voted'"
Once #113 is implemented,  it was recommended from the an RIT student that we implement an 'up vote' feature to the feed.

[2015-03-11 11:40] thequbit opened #160 "Inform the user what assignments they've already responded to"
A suggestion came in that it would be great if the user, on the mobile app, could see which assignments they've already responded to.

I think this could be done really simply by just keeping track of the assignment ID's on the android device, and when rendering them in the assignment list, have some kind of icon informing the user they've responded to the assignment.  Or perhaps a 'you responded

[2015-03-11 11:45] thequbit commented on #103
There is an issue on my wife's phone (Moto X) that the preview image does not render, and she saw a 'yellr has crashed' message, but the app was still functional.

[2015-03-11 11:50] thequbit opened #161 "Change 'post' fragment to look more like twitter 'post' fragment."
I would like the 'attache media' buttons to float with the keyboard like on the twitter app.  The icons disappear when you load up the keyboard, and you need to dismiss the keyboard to see them.

See here that the 'attach a location' and 'attach an image' buttons float with the keyboard.

![](http://i.imgur.com/FaxdDnj.png)
![](http://i.imgur.com/ztaqEkC.png)

[2015-03-11 20:11] thequbit commented on #113
Getting there ...

![](http://i.imgur.com/lft8n0Q.png)

[2015-03-12 02:12] thequbit commented on #113
I think I like this layout better.  Where the arrow would be a different color if you had up-voted it. All feedback welcome.

![](http://i.imgur.com/mGvzQCZ.png)

[2015-03-12 23:06] thequbit opened #162 "Images redraw every time in post feed"
https://github.com/thequbit/yellr-android/blob/dev/app/src/main/java/yellr/net/yellr_android/fragments/LocalPostsFragment.java#L229

Every time you scroll, the images re-draw themselves.  I believe this can be fixed quickly, however i can not figure out why.

We have a ArrayAdapter just like in the assignments feed, however here the items being displayed is bigger.. The ImageView is here:

https:/

[2015-03-13 01:22] thequbit commented on #162
So one possible solution here is to make a background service that downloads all of the images and makes them available to the fragment.   This would result in the images being re-drawn, however hey would not be re-download.

If @reustonium can figure out a solution, I suspect his is the solution that I'll implement for v0.1.2.

The twitter app has,  obviously, solved this solution... So it defini

[2015-03-13 14:55] thequbit commented on #162
Good news: I got it working.

Bad news: i hate Android now, ha.

the whole convertView reuse thing really threw me for a loop.  Got it working though, and added a hashmap so images aren't downloaded more than once.

Closing.

[2015-03-13 14:55] #162 closed

[2015-03-15 19:20] thequbit opened #165 "Just have a notification that says there are new assignments, rather than the specific assignment name."
Additionally, we should keep track of the assignments that we display this for (for all time),  and not re-did play them.   This will prevent the user being bombarded with notifications.

@reustonium thoughts?

[2015-03-16 11:47] thequbit commented on #161
Implemented in #166, although I think there are some 'responsiveness' issues when it comes to long question descriptions.

[2015-03-16 11:47] #161 closed

[2015-03-16 11:48] thequbit commented on #159
Up and down voting implemented in #166.

[2015-03-16 11:48] #159 closed

[2015-03-16 11:48] thequbit commented on #153
Fixed in #166 with font change, and removed fixed height row.

[2015-03-16 11:48] #153 closed

[2015-03-16 11:48] thequbit commented on #148
Closely coupled with #161.  Implemented in #166.

[2015-03-16 11:48] #148 closed

[2015-03-16 11:49] thequbit commented on #121
@aztec8 did some language conversion on Saturday for strings_es.  I'm not familiar with what the next step is for submitting the Spanish version of the app on the play store.  I'll look into it more.

Thanks @aztec8 !!!

[2015-03-16 11:50] thequbit commented on #113
Implemented in #166.

[2015-03-16 11:50] #113 closed

[2015-03-16 11:50] thequbit opened #167 "Tag and Sign v0.1.2 Release code."

[2015-03-16 12:14] thequbit commented on #128
This is high priority for this milestone.

[2015-03-18 18:51] thequbit commented on #158
forgot to do this, and am lost as to what code was actually pushed.  Closing.

[2015-03-18 18:51] #158 closed

[2015-03-18 18:52] thequbit commented on #167
Tagged, but didn't sign.  Need to look into how to do that since I was not able to get it to work correctly (note: this is 100% user error).

[2015-03-18 18:52] #167 closed

[2015-03-18 20:06] thequbit commented on #121
This won't make it in before the conference this weekend.  Removing from milestone.

[2015-03-18 20:23] thequbit commented on #71
Feedback?

![](http://i.imgur.com/e9SvUEs.png)

[2015-03-19 12:14] thequbit commented on #145
This is up for debate on the best way to implement this.  I think from a UI stand point we may need to think out how the fragment looks for viewing an assignment, and not directly go to the post fragment.

[2015-03-19 12:15] thequbit commented on #82
Closely tied to #101

[2015-03-19 12:18] thequbit commented on #33
We seem to be working fine for http communication right now.  I do think this looks like a slick library though, I'll take a closer look to see if making the transition makes sense.

[2015-03-19 12:20] thequbit commented on #110
Would be nice to get a better idea of what is happening when the click is made.  Perhaps running it in debug mode on the phone and looking at the output will help.

I'm going to keep this open, and assign to you.  When you get a chance, pull down the latest and see if the same issues arrise.

A quick hack to get the story to pop-up is to clear the data for the app (clears shared preferences), so t

[2015-03-19 12:22] thequbit commented on #64
I personally like the Toast notification, but if you think this is the future of Android then we can make the transition, otherwise I think it may be a distraction.  I'll leave this open, and place it in the v0.1.4 milestone so we can revisit it.

[2015-03-20 02:49] thequbit commented on #160
Closed in #169

[2015-03-20 02:49] #160 closed

[2015-03-20 02:49] thequbit commented on #152
Closed in #169

[2015-03-20 02:49] #152 closed

[2015-03-20 02:49] thequbit commented on #74
Closed in #169

[2015-03-20 02:49] #74 closed

[2015-03-20 02:49] thequbit commented on #71
Closed in #169

[2015-03-20 02:49] #71 closed

[2015-03-20 12:12] reustonium commented on #165
I agree, to me this is a core difference between pinging the server for 'whats new', and true push notifications that happen in real time.

A slightly different approach is to 'stack' the notification like gmail (and others) doez.  https://developer.android.com/training/wearables/notifications/stacks.html

[2015-03-20 12:17] reustonium commented on #64
This can probably stay out until a full 'Material Design' is implemented

http://www.google.com/design/spec/components/snackbars-toasts.html#snackbars-toasts-specs

[2015-03-20 13:22] thequbit commented on #165
I really do like the stack approach that gmail uses.  But yea, I agree ... it's more of a 'there is new stuff!' rather than a push.

[2015-03-20 13:23] thequbit commented on #64
ooo, i like it when there is some margin on them, like this picture:

![](http://material-design.storage.googleapis.com/publish/v_2/material_ext_publish/0Bx4BSt6jniD7bjM5V3Nxb09sQms/components_toasts_tabletdesktop2.png)

I could defintely get behind that.  But I agree, let's hold off for now.  Thanks for the link @reustonium !

[2015-03-22 00:54] krt16s opened #172 "Don't use jars in repo, but pull them from mavenCentral / jCenter"

[2015-03-22 00:56] thequbit commented on #172
I wasn't aware of the centralized packing,  I'll make the switch tonight.

Thanks Boris!

[2015-03-22 01:00] thequbit commented on #172
@krt16s we're demoing at LibrePlanet tomorrow, any chance we could get into the F-droid store before then if I close this ticket?

Thanks again for the feedback!

[2015-03-22 11:14] ghost commented on #172
Looking at your timezone I don't think we can make it. Builds start about 0100~0200 UTC once a day. Sorry :/

[2015-03-22 12:48] thequbit commented on #172
@krt16s no worries at all!

Thank you so much for the feedback on the Maven Central suggestion.  The fix has been implemented here:
https://github.com/thequbit/yellr-android/commit/082717f5dee59c12c90007c4561d58527664041f

And the tag for v0.1.5 is here:
https://github.com/hhroc/yellr-android/releases/tag/v0.1.5

Close at your leisure :).

Edit: fixed build number issue.  Tag now updated.

[2015-03-22 12:49] thequbit commented on #172
Yikes, forgot to change the build number.  Recreating tag.

[2015-03-22 13:21] thequbit opened #175 "Appears to be a race condition (null Exception) with the SwipeRefreshLayout on the stories fragment"
This may be an issue on all fragments.

I think we should just check to make sure that the SwipeRefreshLayout isn't null (which is the error that we're seeing).

[2015-03-22 13:26] Nolski opened #176 "Image squashing"
In the story list, the images become squashed.

[2015-03-22 13:31] Nolski opened #177 "Change notification icon to black and white"
Some devices don't display color notification icons.

[2015-03-22 13:32] Nolski opened #178 "New Assignment Map needs search bar for addresses"

[2015-03-22 13:32] Nolski opened #179 "New assignment add numbers for steps"

[2015-03-22 13:32] Nolski opened #180 "new assignment highlight current step"

[2015-03-22 13:35] Nolski opened #181 "No proof of assignment that is created"
We don't really show any proof that the assignment is created after we created it.

[2015-03-22 21:23] ghost commented on #172
Added. One minor thing: I added "GPLv2 and later" as license, since you use Apache2 libraries which are incompatible with plain GPLv2. Is this correct?

[2015-03-22 21:23] #172 closed

[2015-03-22 22:02] thequbit commented on #172
@krt16s to you question, I do believe that is correct.  We'll talk to those with more experience that us in the field of licensing and get back to you.  I think changing it to "GPLv2 and later" is good for now.

Thoughts on when it will be pulled into the build cycle?

Thanks again for all your input!

[2015-03-23 16:43] ghost commented on #172
It's available in FDroid now.

[2015-03-26 12:05] thequbit opened #182 "NullPointerException on swipeRefreshLayout in Stories Fragment"
https://github.com/hhroc/yellr-android/blob/master/app/src/main/java/yellr/net/yellr_android/fragments/StoriesFragment.java#L150

Keeps throwing a NullPointerException.

@reustonium thoughts?

[2015-03-27 13:10] thequbit commented on #176
Fixed by applying:

[code]

... to the ImageView within the local feed row.

ref: http://stackoverflow.com/a/6143521

[2015-03-27 13:42] thequbit commented on #181
I believe this was intended to be placed within yellr-server.  Closing. (I will open it in yellr-server).

[2015-03-27 13:42] #181 closed

[2015-03-27 13:44] thequbit commented on #180
Intended for yellr-server.  Closing. (ticket opened in correct repo).

[2015-03-27 13:44] #180 closed

[2015-03-27 13:45] thequbit commented on #179
Intended for yellr-server.  Closing. (new ticket opened in correct repo).

[2015-03-27 13:45] #179 closed

[2015-03-27 13:46] thequbit commented on #177
This should be for all notifications (new assignment, new story, new message).

[2015-03-27 13:57] thequbit opened #183 "handle spoofed locations better"
It appears that someone was trying to spoof their location but put in 42,42 rather than the expected format of 42.42.  This produced an error:

    Caused by: java.lang.NumberFormatException: Invalid double: "42,42"

There are a couple ways to handle this, I'm just going to replace coma's to start.

[2015-03-27 13:59] thequbit opened #184 "postText.setBackground(null); caused java.lang.NoSuchMethodError error."
I believe this is an issue where we are trying to do something that is not supported by the API version on the phone.

    java.lang.NoSuchMethodError: android.widget.EditText.setBackground
        at yellr.net.yellr_android.fragments.PostFragment.onCreateView(PostFragment.java:151)
        at android.support.v4.app.Fragment.performCreateView(Fragment.java:1786)
        at android.support.v4.app.F

[2015-03-27 13:59] thequbit commented on #178
Intended for yellr-server.  Closing. (ticket opened in correct repo).

[2015-03-27 13:59] #178 closed

[2015-03-27 14:00] thequbit commented on #182
This appears to be showing up rather often.  Placing in v0.1.6 release.

[2015-04-12 13:22] thequbit opened #185 "Only display new assignment once per unit time"
If a client is bouncing back and forth on a border of a geo-fence,  and he assignment continues to pop up over and over.   We should set something where it is only displayed once every n hours,  so this behavior doesn't happen.

[2015-04-14 13:34] thequbit opened #186 "Don't reload feed lists each time."
We should be saving the json that comes back, and then sending the request for posts/assignments/stories based on the datetime of the last post (or something like that?).  We don't have the post_id (although maybe we should ...), so I think the creation_datetime field is the best bet.

This would allow us to maintaine the current location in the posts list (similar to twitter), and allow for the '

[2015-06-26 17:35] thequbit opened #188 "Support Audio media type upload"
The user shall be able to attach an audio file to their post.

[2015-06-26 17:36] thequbit opened #189 "Support Video media type upload"
The user shall be able to attach an video file to their post. The video should be compressed before being sent to the server. How this compression is done is up for discussion.

[2015-06-26 17:36] thequbit opened #190 "Change how assignment notifications are done"
An assignment notification should only happen when:

- The user is within the geofence
- The user has not seen it before
- The assignment is within 24 hours of expiring
  - This display should only happen once, not every time the user enters the geofence within the last 24 hours.

[2015-06-26 17:37] thequbit commented on #186
I believe this is currently being done in the iOS app, correct @dkd903 ?

[2015-06-26 17:38] thequbit commented on #185
closing since this is a duplicate of #190

[2015-06-26 17:38] #185 closed

[2015-06-26 17:38] thequbit commented on #184
This needs to be resolved for 0.1.8.

[2015-06-26 17:39] thequbit commented on #176
Fixed in #187

[2015-06-26 17:39] #176 closed

[2015-06-26 17:39] thequbit commented on #182
This needs to be resolved in 0.1.8

[2015-06-26 17:40] thequbit commented on #177
This needs to be fixed in 0.1.8.  It looks terrible on Android 5.0.  The Icon should just be a Y I think.

[2015-06-26 17:40] thequbit commented on #175
This is probably tied to #182

[2015-06-26 17:41] thequbit commented on #165
@dkd903 How is this done in the iOS version?  I seem to remember this is implemented as "you have n new notifications", right?

[2015-06-26 17:42] thequbit commented on #151
I don't think this is really useful.  Will re-open/create new if we change our mind.

[2015-06-26 17:42] #151 closed

[2015-06-26 17:43] thequbit commented on #128
This is high priority still.  Needs to be included in 0.1.8.

[2015-06-26 17:44] thequbit commented on #146
We'll make this for 0.1.9.

[2015-08-09 17:50] thequbit opened #192 "NullPointerException in PostFragment"
Android developers console reports NullPointerException.  Stack Trace:

	java.lang.RuntimeException: Unable to start activity ComponentInfo{yellr.net.yellr_android/yellr.net.yellr_android.activities.PostActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.Integer.intValue()' on a null object reference
	at android.app.ActivityThread.performLaunchActivity(Activi

[2015-08-09 17:52] thequbit opened #193 "NullPointerException in AssignmentsFragment"
Android developers console reporst NullPointerException in AssignmentsFragment.  Stack Trace:

	java.lang.RuntimeException: Error receiving broadcast Intent { act=yellr.net.yellr_android.action.NEW_ASSIGNMENTS cat=[android.intent.category.DEFAULT] flg=0x10 (has extras) } in yellr.net.yellr_android.fragments.AssignmentsFragment$AssignmentsReceiver@374883b6
	at android.app.LoadedApk$ReceiverDispatch

[2015-08-09 18:51] thequbit opened #194 "Formatting is broken on fragment_post.xml"
The formatting is all messed up on the post page.  I think this is due to a bad merge?

http://i.imgur.com/ddQxlKN.png

I can't type anything ( because the text box is too low ), and the preview image doesn't come up.  Also, there are duplicate id's in that file ...

[2015-08-09 19:02] dkd903 commented on #194
I saw this issue earlier today. Have fixed it. Will send a pr

[2015-08-09 23:16] thequbit opened #196 "Change now assignment notifications are displayed"
Notifications for new assignments should only be displayed twice:

    1. The first time the assignment is seen after hitting the JSON endpoint
    2. If there are less than 24 hours until the assignment expires.

I think we should achieve this by using a running list of assignments seen, and only display the notification if one of the above to cases is met.

[2015-08-09 23:43] thequbit opened #197 "Hook up report post button"
The report post button does not appear to do anything in the Android app right now.  Need to hook this up the an intent service that calls the correct end point with the post ID.

[2015-08-12 16:02] thequbit opened #199 "Add support for URL links within assignment descriptions"
It would be great if we could link to a URL in an assignment.  I think the best way to do this is with REGEX, but I'll leave that up to you @dkd903 .

[2015-08-13 00:17] thequbit opened #200 "Support playing video from the 'view post' fragment"
Make sure video can be played from the 'view post' fragment.

[2015-08-13 00:19] thequbit commented on #194
I believe this is closed, yes? @dkd903

[2015-08-13 00:22] thequbit commented on #186
@dkd903 did you implement this in Android yet?

[2015-08-13 00:23] thequbit commented on #177
@dkd903 we talked about this at lunch the other day - the icon doesn't render correctly.  Don't burn too much time on this, but if you can fix it that would be awesome.

[2015-08-13 00:24] thequbit commented on #128
@dkd903 has already done this for v0.1.8.  Closing.

[2015-08-13 00:24] #128 closed

[2015-08-13 04:06] dkd903 commented on #197
It is already hooked up to - intent_services/report_post/ReportPostIntentService.java

[2015-08-13 04:06] #197 closed

[2015-08-13 05:19] dkd903 commented on #177
Fixed - http://stackoverflow.com/questions/28387602/notification-bar-icon-turns-white-in-android-5-lollipop
![screenshot_2015-08-13-01-17-25](https://cloud.githubusercontent.com/assets/233879/9243048/41103124-4159-11e5-9977-1d4fdd720622.png)
![screenshot_2015-08-13-01-05-42](https://cloud.githubusercontent.com/assets/233879/9243050/448673c2-4159-11e5-8d84-0b5dd583ecc7.png)
![screen shot 2015-08-13

[2015-08-13 05:19] #177 closed

[2015-08-13 05:21] dkd903 commented on #189
This has been done already.

[2015-08-13 05:21] #189 closed

[2015-08-13 05:21] dkd903 commented on #188
This has been done already.

[2015-08-13 05:21] #188 closed

[2015-08-13 05:22] dkd903 commented on #146
Waiting on the API endpoints for Poll.

[2015-08-13 05:23] dkd903 commented on #194
Fix was added in the 0.1.8 release.

[2015-08-13 05:23] #194 closed

[2015-08-13 12:41] thequbit commented on #146
@dkd903 I believe the [get_assignments.json](https://github.com/hhroc/yellr-server/wiki/get_assignments.json) end point should return the correct information if a poll question type is selected when creating the assignment.

What is currently missing is the results from the poll ( there is no way to get that information right now ).  I'll work on getting that in place.

[2015-08-13 15:42] dkd903 commented on #186
Yes, need to integrate it in with the feed. Will work on it.

[2015-08-16 18:05] dkd903 commented on #200
Done for both android and ios

[2015-08-16 18:05] #200 closed

[2015-08-16 18:28] thequbit commented on #196
Debjit,  do you think you could work on this issue next?

Additionally, if someone responds to an assignment, it should not pop up again.

[2015-08-16 18:30] thequbit commented on #196
Also,  this same ticket needs to be opened on ios.  I'll do that this afternoon/evening.

[2015-08-19 13:14] thequbit opened #202 "Test for latest version of app, and display notification for update"
We should add a hook so the app checks ( maybe once a day? ) what the latest version of the app is, and if it's not the one that is installed, inform the user they should update.

[2015-08-22 00:19] dkd903 commented on #199
Done

[2015-08-22 00:19] #199 closed

[2015-08-22 00:20] dkd903 commented on #146
Still not done - API return empty results

[2015-08-22 00:20] #146 closed

[2015-09-01 23:07] thequbit commented on #202
I'm going to close this - I don't think it has that much value.

[2015-09-01 23:07] #202 closed

[2015-09-01 23:08] thequbit commented on #154
@dkd903 did this make it in to your last PR?

[2015-09-01 23:08] thequbit commented on #186
@dkd903 did you get this integrated within your last PR?

[2015-09-01 23:09] thequbit opened #203 "Video/Audio controls are displayed when viewing text post"
When you go to a "text only" post, video and audio controls are displayed.  This needs to be turned off when not displaying these post types.

[2015-09-02 16:26] thequbit opened #204 "Resize video before upload"
They are currently too big.

[2015-09-18 00:34] dkd903 commented on #203
Fixed

[2015-09-18 00:34] #203 closed

[2015-09-18 00:35] thequbit commented on #203
:+1:

[2015-09-18 02:42] dkd903 commented on #154
No. Made a commit today. Will be in next PR.

[2015-09-18 02:42] #154 closed

[2015-10-26 23:44] thequbit opened #206 "Display responses to assignment on assignment page"
As a user I want to be able to click on an assignment and see responses to just that assignment.  When I click on an assignment in the assignment list, it should bring me to a page that has the details about the assignment and a list that I can scroll through of the responses.  It will also have a 'contribute' button that will take me to the post screen.

I think this list of posts would be gotten